.main-container{
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.sub-container{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}

.flex-item{
    order:1;
    margin:10px;
}