body {
    font-family: arial,sans-serif;
}


.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
}

.font1 {
    font-family: 'Times New Roman', Times, serif;
}

.font2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font3 {
    font-family: 'Courier New', monospace;
}